
<h4>Stats</h4>
<table class="table">
  <tbody>
    <tr>
      <th class="text-right">Power</th>
      <td class="text-center">{{ stats.power }}</td>
      <td class="text-center">{{ stats.attack }}</td>
      <th class="text-left">Attack</th>
    </tr>
    <tr>
      <th class="text-right">Precision</th>
      <td class="text-center">{{ stats.precision }}</td>
      <td class="text-center">{{ stats.critChance }}</td>
      <th class="text-left">Crit. chance (%)</th>
    </tr>
    <tr>
      <th class="text-right">Toughness</th>
      <td class="text-center">{{ stats.toughness }}</td>
      <td class="text-center">{{ stats.armor }}</td>
      <th class="text-left">Armor</th>
    </tr>
    <tr>
      <th class="text-right">Vitality</th>
      <td class="text-center">{{ stats.vitality }}</td>
      <td class="text-center">{{ stats.health }}</td>
      <th class="text-left">Health</th>
    </tr>
    <tr>
      <th class="text-right">Cond. damage</th>
      <td class="text-center">{{ stats.condDamage }}</td>
      <td class="text-center"></td>
      <th class="text-left"></th>
    </tr>
    <tr>
      <th class="text-right">Crit. damage (%)</th>
      <td class="text-center">{{ stats.critDamage }}</td>
      <td class="text-center"></td>
      <th class="text-left"></th>
    </tr>
    <tr>
      <th class="text-right">Healing power</th>
      <td class="text-center">{{ stats.healPower }}</td>
      <td class="text-center"></td>
      <th class="text-left"></th>
    </tr>
  </tbody>
</table>
