<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">GW2Craft</a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a href="#/stuff">Stuff</a>
        </li>
        <li class="active">
          <a href="#/traits">Traits</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <section class="content">
    <h4>Traits</h4>
    @TODO

    <div gw2-stats></div>
  </section>
</div>
